.App {
	display: grid;
	grid-template-areas: "head head"
												"main-left main-right"
												"foot foot";
	text-align: center;
	justify-items: center;
	align-items: center;
	
}
.app-header {
	grid-area: head;
}
.board {
	grid-area: main-left;
	
	/* For stopping the blurry edges */
	overflow: hidden;
	
	position: relative;
}
.cell-wrapper {
	display: grid;
	grid-template-columns: repeat(10, 30px);
	grid-template-rows: repeat(20, 30px);
	grid-gap: 0;
}

.cell-wrapper.blured {
	filter: blur(25px);
}

.test-button {
	margin: 10px;
	height: 25px;
	width: 150px;
	border: 1px solid #222;
	background-color: #EEE;
	cursor: pointer;
	user-select: none;

}
.test-button:hover {
	background-color: #DDD;
}
.test-button:active {
	padding-top: 2px;
}