.button {
	user-select: none;

	height: 10%;
	font-size: 4vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(var(--app-main-color),0.95);

	border-radius: 5px;

	box-shadow: 0 0 5px 1px inset rgba(0,0,0,0.5);
}
.button:not(.btn-inactive){
	cursor: pointer;

}

.button:hover:not(.btn-inactive) {
	background-color: rgb(var(--app-main-color));
	box-shadow: 0 0 5px 1px inset rgba(0,0,0,0.75);

}

.button:active:not(.btn-inactive) {
	padding-top: 2px;
	box-shadow: 0 0 5px 1px inset rgba(0,0,0,1);
}

.button.btn-inactive {
	background-color: rgba(34,34,34,0.5);
	color:#AAA;
}

.btn-highscore {
	height: auto;
	width: auto;
	padding: 5px;
}

.btn-highscores-close {
	height: auto;
	width: auto;

	margin: 10px;
	padding: 0 10px;

	font-size: 2.5vh;
}
.btn-highscores-close.footer {

}
.btn-highscores-close.header {
	background-color: #600000;
}
.btn-highscores-close.header:hover {
	background-color: #3F0000
}

.btn-highscores-save {
	height: auto;
	width: auto;

	margin: 10px;
	padding: 0 10px;

	font-size: 2.5vh;

	background-color: #007b00;
}
.highscores-footer .btn-highscores-save:hover {
	background-color: #005a00;
}