.highscores-component {
	grid-column: main-left / main-right;
	height: var(--highscores-height);
	width: var(--highscores-width);

	justify-self: center;

	border-radius: 5px;

	position: relative;
	overflow: hidden;

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	color: #DDD;
	text-shadow: 2px 2px 1px #000;

}
.highscores-component > * {
	position: relative;
	z-index: 0;
}
.highscores-component::before {
	content: "";
	position: absolute;
	top: -25px;
	left: -25px;
	bottom: -25px;
	right: -25px;

	background-image: var(--app-bg) ;
	background-attachment: fixed;
	background-size: cover;

	filter: blur(5px);

	box-shadow: inset 0 0 0 300px rgba(255,255,255,0.1);
}
.highscores-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 10%;

	padding: 0 10px;

	background-color: rgba(34,34,34,0.2);

}
.highscores-title {
	font-size: 4vh;
}
.highscores-footer {
	height: 10%;

	background-color: rgba(34,34,34,0.2);


	display: flex;
	justify-content: end;
}

.highscores-body {
	flex: 1;
	padding: 25px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

