.score-component {
	display: flex;
	justify-content: space-between;

	font-size: 3vh;

}

.score-component > .dots {
	flex: 1;
	border-bottom: 5px dotted;

	margin: 0 5px;

	position: relative;
	top: -5px;
}

.score-component:nth-child(n+11){
	display: none;
}

.score-component.empty {
	color: #7d7d7d;
}